header {
	background-color:#fff;
	border-bottom:1px solid $borders;
	padding:1% 0px;
	.header__contents {
		@include inner-content;
		.header--logo {
			width:59%;
			display:inline-block;
		}
		nav {
			width:40%;
			text-align:right;
			display:inline-block;
		}
	}
}
