body {
	background-color:$secondary-bg;
	.content--block {
		@include inner-content;
		background-color:#fff;
		border:1px solid $borders;
		padding:2%;
		padding-top:1%;
		margin-top:2%;
		margin-bottom:2%;
	}
	&.dash_index {
		background-color:$dash-blue;
	}
}
#page_wrapper {
	min-width: 320px;
	height: 100%;
	background-color:#fff;
}
.right_block {
	width: 55%;
	position: absolute;
	right: 0px;
	top: 0px;
	min-height: 100%;
	background-color:#fff;
}
body.dash_index .main {
	padding:6% 7%;
	width:85%;
	margin-top:10%;
}
.left_block{
	width: 45%;
	background:url(/assets/img/green.svg) no-repeat 30% 30%;
	background-color:$dash-blue;
	position: fixed;
	left: 0px;
	top: 0px;
	min-height:100%;
}