.content_btn {
	font-family:$primary-sans;
	color:#202020;
	font-size:2.5rem;
	border:1px solid $borders;
	background-color:#fff;
	font-weight:600;
}
.top_btn {
	border:3px solid $dash-orange;
	
}
.right_btn{
	border:3px solid $dash-yellow;
	text-transform:uppercase;
	
}
.left_btn {
	border:3px solid $dash-green;
	text-transform:uppercase;
	
}
.bottom_btn {
	border:3px solid $dash-blue;
	text-transform:uppercase;
	
}