
// Shared styles and dependencies
// Globaly used variables, mixins, and functions

// Metrics


// Typography
  $primary-sans:      "merriweather", serif;
  $primary-serif:      "merriweather", serif;
  $primary-sans-serif: "lato",sans-serif;

// Colors
  // The Spectafy standard colors

  $primary-font:      #434343; // titles
  $p-font:            #5a5a5a; // p
  $secondary-font:    #717272; // copyright
  $tertiary-font:     #9b9b9b; // discreet p
  $quarternary-font:  #d8d8d8; // border and lightest

  $dash-orange:       #DA611E; 
  $dash-blue:         #008EAA;
  $dash-yellow:       #DDB307;
  $dash-green:        #78BE20;

  $borders:           #c7c8cc; // borders
  $secondary-bg:      #f5f5f5; // highlighted gray background


// responsive styles
 @mixin breakpoint($point) {
   @if $point == desktop {
     @media (max-width: 1200px) { @content ; }
  }
   @else if $point == laptop {
     @media (max-width: 992px) { @content ; }
  }
  @else if $point == rufus {
     @media (max-width: 850px) { @content ; }
  }
    @else if $point == tablet {
     @media (max-width: 750px) { @content ; }
  }
  @else if $point == mobileonly {
     @media (max-width: 600px)  { @content ; }
  }
  @else if $point == buttonone {
     @media (max-width: 1120px)  { @content ; }
  }
    @else if $point == buttontwo {
     @media (max-width: 775px)  { @content ; }
  }
  @else if $point == smallmobile {
     @media (max-width: 450px)  { @content ; }

  }
}
@mixin inner-content {
  max-width:1200px;
  width:80%;
  margin:0 auto;
}

