button.tallpad {
  padding-bottom: 60px; 
  padding-top: 60px;
}

h3.middle_text {
	text-align: center;
}
img.tallpad {
  padding-bottom: 60px; 
  padding-top: 60px;
}
div.sentence{
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  padding-top: 40px;
  text-decoration: underline;
}
/*
button.go {
  font-size: 24px;
  border: 3px solid black;
  letter-spacing: 1px;
  font-weight: 600;
}
*/
button.reset{
  font-size: 1.4rem;
  text-transform: uppercase;
  padding: 5px;
}

/*div.go {
  text-align: center;
  padding-top: 40px;
}*/